footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto auto auto;
}

.add-task {
    width: 200px;
    height: 40px;
    border-radius: 12px;
    background-color: #4BAE4F;
    border: none;
    color: white;
    font-size: medium;
    transition: 150ms;
}

.add-task:hover {
    opacity: 80%;
    cursor: pointer;
}

.progress {
    display: flex;
}

.progress-bar {
    width: 200px;
    height: 25px;
    margin-left: 10px;
    background-color: white;
    border-radius: 25px;
}

.progress-bar div {
    background-color: #4BAE4F;
    width: 0%;
    height: 100%;
    border-radius: 25px;
}

.pages {
    margin-right: auto;
    margin-left: auto;
}

.pages button {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: #171717;
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.pages button:hover {
    opacity: 80%;
}

.btn-previous {
    margin-right: 10px;
}

.btn-next {
    margin-left: 10px;
}