main {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
    border-radius: 30px;
    background-color: #171717;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.organize-tasks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.task-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    list-style-type: none; 
    padding: 0;
}

.task-options select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.task-name, .task-start, .task-end, .task-options {
    width: 25%;
    text-align: center;
}

.task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task-list img {
    width: 30px;
}

.new-task {
    display: none;
}