main {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 630px;
    border-radius: 30px;
    background-color: #171717;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.organize-tasks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.task-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    list-style-type: none; 
    padding: 0;
}

.task-options select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 150ms;
}

.task-item:hover {
    background-color: #212121;
}

.task-item:hover img {
    opacity: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.task-name, .task-start, .task-end, .task-options {
    width: 25%;
    text-align: center;
}

.task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task-list img {
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 150ms;
}

.task-list img:hover {
    cursor: pointer;
    opacity: 80%;
}